
body {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 24px;
	color: #222;
}

strong {
	font-weight: bold;
	font-size: 200%;
	color: #BBE7FF;
}

p {
	color: #332E2E;
	font-family: "Athelas";
}
ul li{
	border-top: 1px dashed;
}
